* {
  box-sizing: border-box;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-bottom: 213px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;

  .rectangle28 {
    position: absolute;
    top: 118px;
    right: -2px;
    background: #ffffff;
    width: 4px;
    height: 4px;
  }

  .frame {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .text {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0;
    color: var(---, #202224);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .cube {
    display: -webkit-box;
    flex-shrink: 0;
    width: 106px;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .frame38 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    padding: 48px;
  }

  .frame70 {
    display: flex;
    position: absolute;
    top: 0;
    right: -120px;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 144px;
    row-gap: 4px;
  }

  .frame162 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding: 24px 360px;
    min-width: 1920px;

    .frame16 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .rectangle6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 6px;
        background: #0395ff;
        padding: 2px 5px;

        .ic {
          width: 14px;
          height: 20px;
          text-align: center;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Gilroy, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 700;
        }
      }

      .iconStore {
        flex-shrink: 0;
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        font-family: Gilroy, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .frame14 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 40px;
    }

    .frame15 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      column-gap: 16px;
    }
  }

  .frame22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-left: 360px;
    width: 1200px;
    row-gap: 24px;

    .frame17 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      margin-right: 304px;
      margin-left: 304px;
      row-gap: 16px;

      .text2 {
        flex-shrink: 0;
        line-height: 52px;
        letter-spacing: 0;
        color: var(---, #202224);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 48px;
      }

      .text3 {
        flex-shrink: 0;
        width: 592px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: var(---, #60656b);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .frame21 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;
      margin-right: 404px;
      margin-left: 404px;

      .frame18 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: #ffffff;
        padding: 12px;
        width: 120px;
        row-gap: 4px;

        .a1600 {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: var(---, #202224);
          font-family: "Mona Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }

        .text4 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(---, #60656b);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }
  }

  .frame63 {
    display: inline-flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 16px;
    margin: 24px 360px 0px;
    background: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;

    .link {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
      background: #f8f8fc;
      padding: 12px;
      width: 200px;
      min-width: 200px;

      .text7 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 0;

        .text5 {
          line-height: 24px;
          letter-spacing: 0;
          color: var(---, #202224);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .text6 {
          line-height: 24px;
          letter-spacing: 0;
          color: #b5b9bf;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .image {
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        overflow: hidden;
      }
    }

    .frame26 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
      background: #f8f8fc;
      padding: 12px;
      width: 840px;
      min-width: 840px;

      .frame25 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;

        .text8 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #b5b9bf;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .rectangle20 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 6px;
        background: #ffffff;
        padding: 2px;

        .dribbbleDiscoverTheW {
          width: 16px;
          height: 16px;
          overflow: hidden;
        }
      }
    }

    .link2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 12px;
      background: #f8f8fc;
      padding: 12px;
      width: 128px;

      .text9 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 24px;
    padding-right: 104px;
    padding-left: 360px;

    .text10 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(---, #202224);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .frame51 {
      display: inline-flex;
      align-items: center;
      column-gap: 12px;

      .frame50 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        background: #f8f8fc;
        padding: 4px 12px;
        width: 52px;
        min-width: 52px;
      }

      .a44Icons {
        flex-shrink: 0;
        opacity: 0.7;
        line-height: 22px;
        letter-spacing: 0;
        color: #919499;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .autoWrapper {
      position: relative;
      margin-top: 56px;
      width: 120px;
      height: 145px;

      .frame2 {
        width: 24px;
        height: 24px;
        overflow: hidden;
      }

      .frame39 {
        display: flex;
        position: absolute;
        top: 0;
        left: -120px;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: 144px;
        row-gap: 4px;
      }

      .frame40 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 120px;
        height: 145px;
        row-gap: 5px;

        .frame382 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .rectangle7 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 48px;
          }
        }

        .cube2 {
          display: -webkit-box;
          flex-shrink: 0;
          align-self: stretch;
          overflow: hidden;
          text-align: center;
          line-height: 20px;
          letter-spacing: 0;
          color: #000000;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .rectangle24 {
        display: flex;
        position: absolute;
        top: -2px;
        left: -2px;
        align-items: center;
        width: 4px;
        height: 4px;

        .rectangle25 {
          background: #ffffff;
          width: 4px;
          height: 4px;
        }
      }

      .rectangle27 {
        position: absolute;
        top: 118px;
        left: -2px;
        background: #ffffff;
        width: 4px;
        height: 4px;
      }

      .rectangle26 {
        position: absolute;
        top: -2px;
        right: -2px;
        background: #ffffff;
        width: 4px;
        height: 4px;
      }
    }

    .frame66 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 56px;
      margin-left: 120px;
      row-gap: 4px;
    }

    .frame67 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 56px;
      row-gap: 4px;
    }

    .frame37 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 16px;
      border: 1px solid #e9eaeb;
      border-radius: 12px;
      box-shadow: 0px 6px 32px 0px #0000000d;
      background: #ffffff;
      padding: 11px;
      row-gap: 24px;

      .rectangle21 {
        border: 2px solid #b5b9bf;
        border-radius: 6px;
        box-shadow: 0px 6px 32px 0px #0000000d;
        background: #ffffff;
        width: 20px;
        height: 20px;
      }

      .rectangle18 {
        position: absolute;
        top: 9px;
        left: 0;
        background: #f4f6f7;
        width: 216px;
        height: 2px;
      }

      .frame29 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        .frame65 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background: #f4f6f7;
          padding: 2px 8px;
          row-gap: 10px;

          .a24Px {
            flex-shrink: 0;
            align-self: stretch;
            text-align: right;
            line-height: 22px;
            letter-spacing: 0;
            color: var(---, #202224);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame36 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        .frame35 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 4px;
          border-radius: 8px;
          background: #ffffff;
          padding: 4px 6px;

          .frame3 {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            overflow: hidden;
          }

          .text11 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: #919499;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame33 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .group1 {
          position: relative;
          flex-shrink: 0;
          align-self: stretch;
          height: 20px;

          .frame64 {
            display: flex;
            position: absolute;
            top: 0;
            left: 96px;
            align-items: center;
            box-shadow: 0px 2px 8px 0px #0000000d;
            padding-right: 5px;
            width: 25px;
            height: 20px;
          }
        }
      }

      .frame34 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .group2 {
          position: relative;
          flex-shrink: 0;
          align-self: stretch;
          height: 20px;

          .frame652 {
            display: flex;
            position: absolute;
            top: 0;
            left: 44px;
            align-items: center;
            box-shadow: 0px 2px 8px 0px #0000000d;
            padding-right: 5px;
            width: 25px;
            height: 20px;
          }
        }
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 15px;
    padding-right: 360px;
    padding-left: 360px;

    .autoWrapper3 {
      position: relative;
      width: 120px;
      height: 144px;

      .frame72 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: 144px;
        row-gap: 4px;
      }

      .frame74 {
        display: flex;
        position: absolute;
        top: 0;
        right: -240px;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: 144px;
        row-gap: 4px;
      }

      .rectangle30 {
        position: absolute;
        top: 118px;
        right: -122px;
        background: #ffffff;
        width: 4px;
        height: 4px;
      }
    }

    .frame75 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 240px;
      row-gap: 4px;
    }

    .frame76 {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 4px;
    }
  }
}
